*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../src/assets/login-back.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}